header {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 20px;

  .logo {
    img {
      max-width: 200px;
    }
  }

  .cliente-btn {
    background-color: white;
    color: blue;
    border: 1px solid blue;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
  }

  .btn {
    background-color: white;
    color: blue;
    border: 1px solid blue;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
  }


}
